
/*********** HEADER ***********/

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0;
  background: rgb(60, 60, 60);
  color: white;
}

.headRight {
  margin-top: 18px;
}

.button {
  margin-left: 12px;
  text-decoration: none;
  color: white;
}

.title {
  text-decoration: none;
  color: white;
  font-size: 28px;
  margin: 16px 0;
}

.button:hover {
  cursor: pointer;
  color: rgb(248, 255, 132);
}

.title:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}

/* ######### Form ####### */

 .ClassForm {
   padding: 60px 0;
    margin: 0 auto;
    max-width: 320px;
 }

 .modal {
   color: black;
 }

input[type=email],
input[type=password],
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.close:hover {
  background: red;
  cursor: pointer;
}
.wayfarer{
  text-align: center;
}
.column{
  float: left;
  width: 30%;
  padding: 15px;
  font-size: 12px;
}



/* ###### Profile ###### */


.profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}


/* ##### Carousel #### */

.carousel .slide img {
  height: 45vw;
  width: 40vh;

}

.carousel{
  width: 90%;

  margin-top: 20px;
}

.username{
  color: white;
  text-decoration: none;
}

/*************** Homepage ***************/

.makeProfile {
  color: black;
}

#newPost {
  display: none;
}